.main {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main__promo {
    margin: -11px 77px;
    background: url("../../assets/img/BG_2\ 1920.png") no-repeat center top;
    background-size: 1345px 484px;
    min-height: 454px;
}

.main__promo-title {
    margin-top: 0px;
    padding-top: 98px;
    padding-bottom: 32px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
    color: #FFFFFF;
}

.main__promo-title span {
    color: #FFD54F;
    padding-left: 7px;
}

.main__promo .tabs {
    margin-left: 112px;
    margin-top: 28px;
}

.main__catalog {
    display: grid;
    grid-template-columns: 982px 298px;
    grid-template-rows: repeat(3,auto);
    margin-top: 66px;
    padding-left: 80px;
    box-sizing: border-box;
}

.main__catalog-cards {
    display: flex;
    flex-wrap: wrap;
}

.main__catalog-item {
    width: 407px;
    border-radius: 10px;
}

.main__catalog-item--big {
    width: 516px;
}

.main__catalog-lists {
    grid-column-start: 2;
    grid-column-end: 3;
}

.main__catalog-item {
    position: relative;

    &::before {
        position: absolute;
        bottom: 48px;
        right: 21px;
        content: "";
        width: 36px;
        height: 36px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    &::after {
        position: absolute;
        bottom: 55px;
        right: 28px;
        content: "";
        width: 27px;
        height: 27px;
        background: url("../../assets/img/chevron-down-icon.svg") no-repeat center;
    }

}

.main__catalog-item:nth-of-type(1) {
    background: url("../../assets/img/cards-1.png") no-repeat center top;
    margin-right: 30px;

    &::before,
    &::after {
        opacity: 0;
        visibility: hidden;
    }
}

.main__catalog-item:nth-of-type(2) {
    background: url("../../assets/img/cards-2.png") no-repeat center top;
}

.main__catalog-item:nth-of-type(2) .main__catalog-item-title {
    margin-top: 15px;
}

.main__catalog-item:nth-of-type(3) {
    background: url("../../assets/img/cards-3.png") no-repeat center top;
    margin-top: -140px;
    margin-right: 30px;

    &::before {
        bottom: 55px;
    }

    &::after {
        bottom: 61px;
    }
}

.main__catalog-item:nth-of-type(4) {
    background: url("../../assets/img/cards-4.png") no-repeat center top;
    margin-top: -140px;

    &::before {
        bottom: 55px;
    }

    &::after {
        bottom: 61px;
    }
}

.main__catalog-item-subtitle,
.main__about-subtitle {
    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 57px;
    padding-left: 37px;
}

.main__catalog-item-title {
    font-size: 25px;
    padding-left: 37px;
    margin-top: 23px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.main__catalog-item-tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 37px;
    width: 90%;
}

.main__catalog-item-tag {
    background: #664EF9;
    padding: 8px 14px;
    border-radius: 16px;
    margin-right: 18px;
    margin-bottom: 14px;
    font-size: 14px;
}

.main__catalog-item-tag-link {
    color: rgba(255, 255, 255, 0.7);
}

.main__catalog-item-list {
    margin-bottom: 40px;
}

.main__catalog-lists-title {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 22px;
}

.main__catalog-item-link {
    color: #FEB700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
}

.main__catalog-item-link span {
    color: #BDBDBD;
}

.main__catalog-item-item {
    margin-bottom: 9.5px;
}

.main__catalog-item-list:nth-of-type(2) {
    margin-bottom: 12px;
}

.main__catalog-btn {
    position: relative;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FEB700;
    color: #FEB700;
    padding-left: 0;
    padding-right: 18px;
    margin-bottom: 23px;

    &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background: url("../../assets/img/chevron-down-icon-small.svg") no-repeat center;
        top: 3px;
        right: 1px;
    }
}

.main__flat {
    position: relative;
    margin-top: 97px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(4,auto);
}

.main__flat-subtitle {
    position: relative;
    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.2px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    &::before {
        position: absolute;
        content: "";
        width: 70px;
        height: 70px;
        background: url("../../assets/img/dots.png") no-repeat center;
        top: -105px;
        left: -34px;
    }
}

.main__flat-title {
    margin-top: 15px;
    letter-spacing: 0.7px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 45px;
} 

.main__flat-search-bar {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    padding-top: 24px;
    margin-left: 201px;

    &::before {
        position: absolute;
        content: "";
        width: 807px;
        height: 970px;
        background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
        opacity: 0.1;
        border-radius: 40px 0 40px 0;
        top: -19px;
        right: 0;
    }
}

.main__flat-search-bar div {
    position: relative;
    box-sizing: border-box;
    width: 185px;
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
}

.main__flat-search-bar div svg {
    position: absolute;
    transform: rotate(90deg);
    top: 12px;
    right: 11px;
}

.main__flat-search-metro {
    margin-right: 30px;
    padding-left: 41px;

    &::before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        top: 8px;
        left: 10px;
        background: url("../../assets/img/metro-icon.svg") no-repeat center;
    }
}

.main__flat-search-district {
    padding-left: 15px;
}


.main__flat-wrap {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 24px;
}

.main__flat-list {
    display: grid;
    grid-template-columns: repeat(3, 32%);
}

.main__flat-btn-bar {
    position: absolute;
    left: 46.8%;
    bottom: 182px;
}

.main__flat-btn-bar button {
    position: relative;
    border: 1px solid #664EF9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
}

.main__flat-btn-bar button svg {
    position: absolute;
    top: 13%;
    left: 16%;
}

.main__flat-btn--prev {
    margin-right: 13px;
    transform: rotate(180deg);
}

.main__flat-ads {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.main__flat-ads-text {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-top: 94px;
    color: #1E2123;

    &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 70px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        opacity: 0.1;
        background: linear-gradient(#94AFFF 100%, #4E64F9 100%);
        transform: rotate(90deg);
    }
}

.main__flat-ads-link {
    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
    border-radius: 17px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 177px;
    margin-left: 54px;
    margin-top: 37px;
}

.main__flat-ads-link svg {
    margin-left: 5px;
}

.main__flat-ads-text span {
    color: #664EF9;
    margin-left: 13px;
}

.main__flat-ads-text span:nth-of-type(2) {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8291A3;
    opacity: 0.6;
    margin-left: 0;
}

.main__maps {
    background: url("../../assets/img/BG_2\ 1920.png") no-repeat top;
    padding-top: 42px;
    padding-bottom: 217px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.main__maps-title {
    position: relative;
    margin-top: 55px;
    margin-bottom: 0px;

    &::before {
        width: 90px;
        height: 90px;
        position: absolute;
        content: "";
        background: url("../../assets/img/dots-wh-icon.svg") no-repeat center;
        top: -47px;
        right: -453px;
    }
}

.main__maps-subtitle {
    width: 27%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 23px;
}

.main__maps-link {
    position: relative;
    background: #fff;
    border-radius: 19px;
    padding: 10px 20px 10px 42px;
    margin-left: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #1E2123;

    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background: url("../../assets/img/pin-icon.svg") no-repeat center;
        top: 8px;
        left: 16px;
    }
}

.main__advantages-cards {
    display: flex;
    justify-content: space-between;
    margin-top: -125px;
    padding-left: 81px;
    padding-right: 81px;
}

.main__advantages-cards-item {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    width: 406px;
    min-height: 345px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 10px;
    border-radius: 10px;
    background: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);

    &::before {
        position: absolute;
        content: "";
        width: 99px;
        height: 99px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 11px 20px rgba(127, 155, 187, 0.16);
        top: 27px;
        left: 36px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 99px;
        height: 99px;
        top: 27px;
        left: 37px;
        background: url("../../assets/img/target-icon.svg") no-repeat center;
    }
}

.main__advantages-cards-title {
    position: relative;
    color: #664EF9;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    width: 59%;
    margin-top: 45px;
    margin-left: 125px;
    margin-bottom: 0;
}

.main__advantages-cards-text {
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
    margin-top: 54px;
    margin-bottom: 32px;
}

.main__advantages-cards-text span {
    font-weight: 600;
    padding-left: 5px;
}

.main__advantages-cards-link {
    display: block;
    position: relative;
    background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
    box-shadow: 0px 15px 40px rgba(254, 193, 0, 0.15);
    border-radius: 17px;
    width: 224px;
    box-sizing: border-box;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #242424;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
}

.main__advantages-cards-item:nth-of-type(2) {

    &::after {
        background: url("../../assets/img/move-icon.svg") no-repeat center;
    }
}

.main__advantages-cards-item:nth-of-type(2) .main__advantages-cards-title {
    margin-left: 134px;
}

.main__advantages-cards-item:nth-of-type(2) .main__advantages-cards-text {
    margin-top: 48px;
}

.main__advantages-cards-item:nth-of-type(2) .main__advantages-cards-link {
    position: relative;
    width: 241px;

    &::after {
        position: absolute;
        width: 30px;
        height: 30px;
        content: "";
        background: url("../../assets/img/chevron-down-black.svg") no-repeat center;
        top: 4px;
        right: 13px;
    }
}

.main__maps-cards-item--gold {
    background: linear-gradient(105.54deg, #FFD54F 33.53%, #FEC100 94.13%);

    &::before {
        content: "+";
        font-size: 100px;
        color: #FFDA00;
        top: 91px;
        left: auto;
        right: -14px;
        background: none;
        border: none;
        box-shadow: none;
    }

    &::after {
        content: "+";
        font-size: 60px;
        color: #FFDA00;
        top: auto;
        left: auto;
        right: 78px;
        bottom: -34px;
        transform: rotate(45deg);
        background: none;
    }
}

.main__maps-cards-item--gold .main__advantages-cards-title {
    width: 100%;
    text-align: center;
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-left: 0;
    margin-top: 29px;
}

.main__maps-cards-item--gold .main__advantages-cards-text {
    margin-bottom: 0;
    margin-top: 22px;
}

.main__maps-cards-item--gold .main__advantages-cards-text:nth-of-type(1) {
    width: 95%;
    margin-top: 36px;
}

.main__maps-cards-item--gold .main__advantages-cards-text:nth-of-type(2) {
    width: 85%;
    margin-top: 14px;
    margin-bottom: 37px;
}

.main__maps-cards-item--gold .main__advantages-cards-link {
    position: relative;
    width: 194px;
    background: linear-gradient(270deg, #7E6AF3 0%, #6540CD 100%);
    box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    &::after {
        position: absolute;
        width: 30px;
        height: 30px;
        content: "";
        background: url("../../assets/img/chevron-down-right.svg") no-repeat center;
        top: 4px;
        right: 13px;
    }
}

.main__maps-cards-item--gold .main__advantages-cards-link svg path {
    stroke: #fff;
}

.main__about {
    display: grid;
    grid-template-columns: 873px 406px;
    grid-template-rows: repeat(2,auto);
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}

.main__about-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 406px auto;
    grid-template-rows: repeat(2,auto);

    &::after {
        position: absolute;
        content: "";
        width: 90px;
        height: 90px;
        bottom: 118px;
        left: 339px;
        background: url("../../assets/img/dots.png") no-repeat center;
    }
}

.main__about-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: -30px;
}

.main__about-news {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
    border-radius: 10px;
    margin-top: -79px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 25px;
}

.main__about-title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #1E2123;
    margin-top: 0;
}

.main__about-subtitle {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0;

}

.main__about-text span {
    font-weight: 600;
}

.main__about-text-span {
    display: block;
}

.main__about-text {
    font-size: 14px;
    padding-left: 22px;
    width: 90%;
    line-height: 21px;
}

.main__about-text:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main__about-text:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 125px;
    width: 87%;
}

.main__about-text:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 97%;
    padding-left: 0;
    margin-top: -18px;
}

.main__about-news-item {
    border-bottom: 1px solid rgba(40%, 31%, 98%, 0.1);
    padding-top: 5px;
}

.main__about-news-item-link {
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #1E2123;
    letter-spacing: -0.25px;
    min-height: 26px;
    display: block;
}

.main__about-news-item-text {
    font-size: 11px;
    margin-top: 0;
    line-height: 15px;
    color: #8291A3;
}

.main__about-news-link {
    font-size: 14px;
    color: #664EF9;
    display: flex;
    font-weight: 700;
}

.main__about-news-link svg {
    margin-left: 3px;
}