$WhiteSmoke: #F8F8F8;
$Black: #000000;
$Gainsboro: #E4E2E2;
$Silver: #BDBDBD;
$NeonBlue: #664EF9;
$Kournikova: #FFD54F;
$NeonBlue: #4E64F9;
$StormGrey: #7A7F86;
$GoldenPoppy: #FEC100;
$DarkOrange: #FF8A00;
$Snow: #FDFAFA;
$DimGray: #686868;
$Kournikova: #1E2123;
